h1{
    text-align: center;
    color: black;
    background-color: rgba(18, 85, 231, 0.822);
    border-color: black;
    border-width:  10px;
    border-style: solid;
    border-radius: 40px;
    font-size: 80px;
    margin-top: 0;
    margin-right: 500px;
}
.intro{
    text-align: left;
    color: black;
    font-size: 50px;
    font-weight: bold;
    width: 60%;
}
.info{
    text-align: left;
    color: black;
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    padding: 10px;
}
body {
    background-image: url('Terry\ Larsen\ picture.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: right, bottom;
    background-size: 750px;
}